/* スコアページのcss */
.score_main{
    display: flex;
    justify-content: space-between;
}
.input{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.select_wrapper{
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.select_wrapper::before{
    position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.select{
    width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
    padding: 8px 38px 8px 8px;
}
.modal{
    display: none;
    background: rgba(0,0,0,0.5);
    /* モーダルウィンドウの位置固定 */
    position: fixed;
    /* 背景色を画面いっぱいにする */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.modal_content{
    background: #fff;
    width: 80%;
}

